body {
    /* tamaño del body (que ocupe todo el espacio del viewport) */
    height: 100vh;
    width: 100vw;

    /* alineamiento*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caja {
    /* tamaño del hola mundo 300px x 300px */
    height: 300px;
    width: 300px;

    /* alineamiento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde {
    /* background-color setea el color del fondo de un elemento*/
    background-color: green;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}
