html {
    height: 100%;
    display: flex;
}

body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

input:focus {
    outline: none;
}


.main-container {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn i{
    font-size: 6em;
    color: transparent;
    transition: all 0.2s ease-in;
}

.btn:hover i{
    color: gray;
}

.btn-prev:active i{
    transform: translateX(-20px);
}

.btn-next:active i{
    transform: translateX(20px);
}

.images-container {
    width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.image.slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-track {
    display: flex;
    align-items: center;
}
